/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  body{
      margin: 0px;  /*wrong*/
      cursor:default;  /*wrong*/
  }

  a{
      text-decoration: none;  /*wrong*/
      color: #eeeeee;   /*wrong*/
  }

  ul{
      padding-left:0px;  /*wrong*/
  }

  /* navbar */
#navbar{
    display: flex;
    /* display:inline; */
    justify-content: space-between; /*wrong*/
    background-color:#73aace;
    align-items: center;
    padding: 6px;
}

.navbar__logo{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

.navbar__logo{
    /* display: inline; */
    font-size: 24px;
    font-weight: var(--weight-semi-bold); /*wrong 두께*/
}

  .navbar__menu{
    /* display: inline; */
    /* flex-direction: row; */
    /* display: flex; */
    align-items: center;
  }

  .navbar__menu__item{
      padding:8px 12px;     /*wrong*/
      margin:0 4px;      /*wrong*/
    width : 40px;
     /* border:0.5px solid;  */
     /* border-color: var(--color-dark-white);  */
    font-size: 20px;
    color:var(--color-dark-white);
    display:inline;
    cursor: pointer;    /*wrong*/
  }

#home{
    position:relative;
    background-image: url("imgs/crypto_background.jpeg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 350px;
}

.home__title{
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

.home__description{
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

.navbar__menu__item:hover{  /*wrong!!! important*/
    background-color: var(--color-dark-grey);
    border:1px solid wheat;
    border-radius: 4px;
}