/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  body{
      margin: 0px;  /*wrong*/
      cursor:default;  /*wrong*/
  }

  a{
      text-decoration: none;  /*wrong*/
      color: #eeeeee;   /*wrong*/
  }

  ul{
      padding-left:0px;  /*wrong*/
  }

  button{   /*wrong*/
      background-color: transparent;
      cursor: pointer;      /*위에 대면 포인터생김*/
      border: none;
      outline: none;
  }

  /* navbar */
#navbar{
    display: flex;
    /* display:inline; */
    justify-content: space-between; /*wrong*/
    background-color:#73aace;
    align-items: center;
    padding: 6px;
}

.navbar__logo{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

.navbar__logo{
    /* display: inline; */
    font-size: 24px;
    font-weight: var(--weight-semi-bold); /*wrong 두께*/
}

  .navbar__menu{
    /* display: inline; */
    /* flex-direction: row; */
    /* display: flex; */
    align-items: center;
  }

  .navbar__menu__item{
      padding:8px 12px;     /*wrong*/
      margin:0 4px;      /*wrong*/
     /* border:0.5px solid;  */
     /* border-color: var(--color-dark-white);  */
    font-size: 20px;
    color:var(--color-dark-white);
    display:inline;
    cursor: pointer;    /*wrong*/
  }

.navbar__menu__item:hover{  /*wrong!!! important*/
    background-color: var(--color-dark-grey);
    border:1px solid wheat;
    border-radius: 4px;
}

#home{
    /* position:relative; */
    /* background-image: url("imgs/crypto_background.jpeg");
    background-size: cover; */
    background: url("imgs/crypto_background.jpeg") center/cover no-repeat;
    /* justify-content: center;    wrong 이거왜안됨? */
    text-align: center;   /*wrong. 안됐었는데 ㅅㅂ;;*/
    height: 350px; /* wrong. hard coding */
    padding: 40px;
}

.home__avatar{
    border-radius: 50%;  /* wrong 50% */
    border: 2px solid var(--color-dark-pink);  
}

.home__title{
    font-weight: var(--weight-regular);
    color: var(--color-white);
    padding-right: 0px;
    margin: 4px 0;
}

.home__description{
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

.home__contact{
    border: 2px solid var(--color-light-white);
    padding:6px 30px;
    color: #f5f2e2;
    font-weight: 600;
    margin: 20px;
}

.section{           /*wrong */
    padding:50px;
    text-align: center;
    max-width: 1200px;
    margin:auto;   /* ?? whats it? */
}

#about{
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* position: relative; */
}

.about__majors{
    
    display: inline-block;
    padding: 8px;
    justify-content: space-between; /*wrong*/
    margin: 80px 0;  /*wrong*/
    /* padding-right:0px; */
}

.major__icon{    /* wrong wrong...*/
    /* transform: scale(7); */
    color: #73aace;
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px; /*wrong . 이렇게 쓰네 꼼수*/
    border-radius: 50%;
    border:2px solid var(--color-dark-white);
    margin: auto;       /* wrong . 이거 이해 xxxxxxxx*/
    margin-bottom: 16px;
}

.major__icon:hover{
    transform: rotate(35deg) scale(1.1);
    color: #fe918d;
    background-color:#f5f2e2;
    transition: all 0.8s ease;           /* wrong. 색깔적용 뭐임*/
}

.major{
    /* padding: 20px; */
}

.major__title , .major__description{   /*wrong. 2개 지정 */
    color: var(--color-dark-grey);
}

.major__description{
    font-size: 20px;
}

.job{
    display: flex; /*wrong*/
    align-items: center;
    /* text-align: left; */
    /* display: block; */
}

.job__description{
    margin: 0 16px;
    text-align: left;
}
